.m0l0iout {
font-family:sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
font-size:12px;
text-decoration:none;
color:#FFF;
margin:4px 0 0 8px;
}

.m0l0iover {
font-family:sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
font-size:12px;
text-decoration:underline;
color:#FFF;
margin:5px 0 0 8px;
}

.m0l0oout {
text-decoration:none;
background-image:url(Images/lev0_bg1.html);
border:1px solid #369;
background-color:#FFF;
}

.m0l0oover {
text-decoration:none;
background-image:url(Images/lev0_bg2.html);
background-color:#FFF;
border:1px solid #369;
}

.m0l1oout {
text-decoration:none;
background-color:#FFF;
border:1px solid #369;
padding:0;
}

.m0l1oover {
text-decoration:none;
background-color:#FFF;
background-image:url(Images/lev1_arrow.html);
background-repeat:no-repeat;
border:1px solid #369;
padding:0;
}

.m0l1iout,.m0l1iover {
font-family:sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
font-size:12px;
color:#FFF;
margin:4px 0 0 17px;
}